<style>
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
* {
  box-sizing: border-box; 
  font-family: "Times New Roman", time , serif;
}

body {
  font-family: Arial;
  color: white;
  padding: 10px;
  background: #17181C;

}

/* Header, Blog Title */
.header {
   background-image: url('pic17.jpg');
  padding: 30px;
  text-align: center;
  background-color:#17181C;

}

.header h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  color: white ;
}

/* Navigation Bar Style */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Color on hover */
.topnav a:hover {
  background-color: #15171E;
  color: white;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 100%;
  background-color: #002642;
  padding-left: -250px;
}

img {
  border-radius: 8px;
  transition: ease;
  
}

/* Add a card effect for articles */
.card {
  background-image: url('pic18.jpg');
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row p{ font-family: 'Bangers', cursive; text-align: justify;
color:black;

}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row1 p{font-family: 'Bangers', cursive; text-align: justify;
color: black;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
  color:black;
/* Footer */
}

.row3:after {
  content: "";
  display: table;
  clear: both;
  }
  .row3 p{font-family: 'Bangers', cursive; text-align: justify;
color:black;
}

.footer1 {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  font-family:font-family: 'Bangers', cursive; text-align: justify;
  color: black;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

 p{font-size: 200px

  }
}
</style>